{% extends "dashboard/base.html" %}
{% block title %}Registration Successful - Academic Resource Center{% endblock title %}
{% block content %}
<div class="registration-success-container">
    <h2>Registration Successful</h2>
    <p><strong>{{ new_user.get_full_name }}</strong> has been registered successfully.</p>
        <a href="{% url 'account:register' %}" class="nav-btn nav-btn-logout-dark">Register Another</a>
        <a href="{% url 'dashboard:dashboard' %}" class="nav-btn nav-btn-logout-dark">Home</a>
</div>
{% endblock content %}